<extend name="Public:base" />
<block name="body_content">
    <div class="app app-header-fixed <if condition='$Think.config.page-boxed eq 1'>container</if>">
        <!-- header -->
        <include file="Public:header" />
        <!-- /header -->

        <!-- aside -->
        <include file="Public:sidebar" />
        <!-- /aside -->

        <!-- content -->
        <div id="content" class="app-content" role="main">
            <div class="app-content-body ">
                <div class="bg-light lter b-b wrapper-md">
                    <h1 class="m-n font-thin h3">{$meta_title}</h1>
                </div>
                <div class="wrapper-md">
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="panel panel-default">
                                <div class="panel-heading font-bold">{$Think.lang.Gateway_ApiInfo}</div>
                                <div class="panel-body">
                                    <?php for($i=0;$i<count($types);$i++) { ?>
                                    <form role="form" id="<?php echo $types[$i]['id'];?>">
                                        <div class="form-group">
                                            <label>{$Think.lang.Gateway_InputGatewayName}</label>
                                            <input type="email" class="form-control" placeholder="{$Think.lang.Global_PleaseEnter} {$Think.lang.Gateway_InputGatewayName}">
                                        </div>
                                        <?php $input = json_decode($types[$i]['input'],true); foreach ($input as $key=>$value) {?>
                                        <div class="form-group">
                                            <label><?php echo $value['display_name'][LANG_SET];?></label>
                                            <input type="<?php echo $value['type'];?>" class="form-control" placeholder="<?php echo $value['description'][LANG_SET];?>">
                                        </div>
                                        <?php }?>
                                        <button type="submit" class="btn btn-sm btn-primary">{$Think.lang.Global_Submit}</button>
                                    </form>
                                    <?php } ?>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- /content -->

        <!-- footer -->
        <include file="Public:footer" />
        <!-- /footer -->
    </div>
</block>
<block name="custom_css">
</block>
<block name="custom_js">
</block>