<aside id="aside" class="app-aside hidden-xs bg-dark">
    <div class="aside-wrap">
        <div class="navi-wrap">
            <!-- nav -->
            <nav ui-nav class="navi clearfix">
                <ul class="nav">
                    <li class="hidden-folded padder m-t m-b-sm text-muted text-xs">
                        <span>{$Think.lang.SideBar_Applications}</span>
                    </li>
                    <li <if condition="$SideBar_Selected eq 'SideBar_CreateApp' ">class="active"</if>>
                        <a href="/app/create">
                            <i class="glyphicon glyphicon-plus"></i>
                            <span>{$Think.lang.SideBar_CreateApp}</span>
                        </a>
                    </li>
                    <li <if condition="$SideBar_Selected eq 'SideBar_ViewApp' ">class="active"</if>>
                        <a href="/app/view">
                            <b class="badge bg-info pull-right">{$app_count}</b>
                            <i class="fa fa-eye"></i>
                            <span>{$Think.lang.SideBar_ViewApp}</span>
                        </a>
                    </li>
                    <li <if condition="$SideBar_Selected eq 'SideBar_AppData' ">class="active"</if>>
                        <a href="/app/data">
                            <i class="glyphicon glyphicon-stats"></i>
                            <span>{$Think.lang.SideBar_AppData}</span>
                        </a>
                    </li>
                    <li <if condition="$SideBar_Selected eq 'SideBar_OrderRetrieval' ">class="active"</if>>
                        <a href="/app/order">
                            <i class="fa fa-search"></i>
                            <span>{$Think.lang.SideBar_OrderRetrieval}</span>
                        </a>
                    </li>

                    <!--支付网关侧栏-->
                    <li class="line dk"></li>
                    <li class="hidden-folded padder m-t m-b-sm text-muted text-xs">
                        <span>{$Think.lang.SideBar_PaymentGateways}</span>
                    </li>
                    <volist id="gateways_info" name="gateways_info">
                    <li <?php if ($SideBar_Selected == 'Gateway_'.$gateways_info['name'].'Create' or $SideBar_Selected == 'Gateway_'.$gateways_info['name'].'Edit' or $SideBar_Selected == 'Gateway_'.$gateways_info['name'].'View') {  ?>class="active"<?php } ?>>
                        <a href class="auto">
                            <span class="pull-right text-muted">
                                <i class="fa fa-fw fa-angle-right text"></i>
                                <i class="fa fa-fw fa-angle-down text-active"></i>
                            </span>
                            {$gateways_info.icon_html}
                            <span>{$gateways_info.friend_name}</span>
                        </a>
                        <ul class="nav nav-sub dk">
                            <li class="nav-sub-header">
                                <a href>
                                    <span>{$gateways_info.friend_name}</span>
                                </a>
                            </li>
                            <li <?php if ($SideBar_Selected == 'Gateway_'.$gateways_info['name'].'Create') {  ?>class="active"<?php } ?>>
                                <a href="/gateway/edit?type={$gateways_info.name}&action=create">
                                    <span>{$Think.lang.SideBar_AddPaymentGateway}</span>
                                </a>
                            </li>
                            <li <?php if ($SideBar_Selected == 'Gateway_'.$gateways_info['name'].'Edit' or $SideBar_Selected == 'Gateway_'.$gateways_info['name'].'View') {  ?>class="active"<?php } ?>>
                                <a href="/gateway/view?type={$gateways_info.name}">
                                    <span>{$Think.lang.SideBar_ViewPaymentGateway}</span>
                                </a>
                            </li>
                        </ul>
                    </li>
                    </volist>
                    <!-- /支付网关侧栏-->

                    <li class="line dk hidden-folded"></li>

                    <li class="hidden-folded padder m-t m-b-sm text-muted text-xs">
                        <span>{$Think.lang.SideBar_Account}</span>
                    </li>
                    <li <if condition="$SideBar_Selected eq 'SideBar_Profile' ">class="active"</if>>
                        <a href="/account/profile">
                            <i class="icon-user icon text-success-lter"></i>
                            <b class="badge bg-success pull-right">30%</b>
                            <span>{$Think.lang.SideBar_Profile}</span>
                        </a>
                    </li>
                    <li>
                        <a href="/auth/logout">
                            <i class="fa fa-arrow-right"></i>
                            <span>{$Think.lang.SideBar_LogOut}</span>
                        </a>
                    </li>
                </ul>
            </nav>
            <!-- nav -->

            <!-- aside footer -->
            <div class="wrapper m-t">
                <div class="text-center-folded">
                    <span class="pull-right pull-none-folded">60%</span>
                    <span class="hidden-folded">Milestone</span>
                </div>
                <div class="progress progress-xxs m-t-sm dk">
                    <div class="progress-bar progress-bar-info" style="width: 60%;">
                    </div>
                </div>
                <div class="text-center-folded">
                    <span class="pull-right pull-none-folded">35%</span>
                    <span class="hidden-folded">Release</span>
                </div>
                <div class="progress progress-xxs m-t-sm dk">
                    <div class="progress-bar progress-bar-primary" style="width: 35%;">
                    </div>
                </div>
            </div>
            <!-- / aside footer -->
        </div>
    </div>
</aside>