<!DOCTYPE html>
<!--[if IE 9]>         <html class="ie9 no-focus" lang="en"> <![endif]-->
<!--[if gt IE 9]><!--> <html class="no-focus" lang="en"> <!--<![endif]-->
<head>
    <meta charset="utf-8">

    <title>TC - {$meta_title}</title>

    <meta name="description" content="OneUI - Admin Dashboard Template &amp; UI Framework created by pixelcave and published on Themeforest">
    <meta name="author" content="pixelcave">
    <meta name="robots" content="noindex, nofollow">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <!-- Stylesheets -->
    <!-- Web fonts -->
    <link rel="stylesheet" href="//fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400italic,600,700%7COpen+Sans:300,400,400italic,600,700">

    <!-- Bootstrap and OneUI CSS framework -->
    <link rel="stylesheet" href="__STATIC__/css/bootstrap.min.css">
    <link rel="stylesheet" id="css-main" href="__STATIC__/css/oneui.css">
    <block name="custom_css"></block>
    <!-- You can include a specific file from css/themes/ folder to alter the default color theme of the template. eg: -->
    <!-- <link rel="stylesheet" id="css-theme" href="__STATIC__/css/themes/flat.min.css"> -->
    <!-- END Stylesheets -->
    <style>body {  font-family: 'Source Sans Pro', 'Helvetica Neue', Helvetica, Arial, 'Microsoft Yahei', sans-serif;
    } b, h1, h2, h3, h4, h5, h6, .b, .h1, .h2, .h3, .h4, .h5, .h6 {font-family: 'Source Sans Pro', 'Microsoft Yahei', sans-serif;
    }  input.form-control {  font-family: 'Source Sans Pro', 'Helvetica Neue', Helvetica, Arial, 'Microsoft Yahei', sans-serif;
    }</style>
</head>

<body>


<block name="body_content"></block>



<!-- OneUI Core JS: jQuery, Bootstrap, slimScroll, scrollLock, Appear, CountTo, Placeholder, Cookie and App.js -->
<script src="__STATIC__/js/core/jquery.min.js"></script>
<script src="__STATIC__/js/core/bootstrap.min.js"></script>
<script src="__STATIC__/js/core/jquery.slimscroll.min.js"></script>
<script src="__STATIC__/js/core/jquery.scrollLock.min.js"></script>
<script src="__STATIC__/js/core/jquery.appear.min.js"></script>
<script src="__STATIC__/js/core/jquery.countTo.min.js"></script>
<script src="__STATIC__/js/core/jquery.placeholder.min.js"></script>
<script src="__STATIC__/js/core/js.cookie.min.js"></script>
<script src="__STATIC__/js/app.js"></script>

<!-- Page JS Plugins -->
<block name="custom_js"></block>

</body>
</html>