<extend name="Public:base" />
<block name="body_content">
<div class="app app-header-fixed <if condition='$Think.config.page-boxed eq 1'>container</if>">
    <!-- header -->
    <include file="Public:header" />
    <!-- /header -->

    <!-- aside -->
    <include file="Public:sidebar" />
    <!-- /aside -->

    <!-- content -->
    <div id="content" class="app-content" role="main">
        <div class="app-content-body ">
            <div class="bg-light lter b-b wrapper-md">
                <h1 class="m-n font-thin h3">{$meta_title}</h1>
            </div>
            <div class="wrapper-md">
                <div class="row">
                    <div class="col-md-12">
                        <div class="panel panel-default">
                            <div class="panel-heading font-bold">{$Think.lang.AppCreate_AppInfo}</div>
                            <div class="panel-body">
                                <form id="appCreateForm" method="post" onsubmit="return false;">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label>{$Think.lang.AppCreate_AppName}</label>
                                            <input class="form-control" name="app_appname" placeholder="{$Think.lang.Global_PleaseEnter} {$Think.lang.AppCreate_AppName}" >
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label>{$Think.lang.AppCreate_AppId}</label>
                                            <input class="form-control" disabled value="<?php $appid =  date('YmdHis').GetRandString(4,'BIGWORDx'); echo $appid;?>" >
                                            <input style="display: none;" name="app_appid" value="<?php echo $appid;?>">
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label>{$Think.lang.AppCreate_AppDescription}</label>
                                            <textarea class="form-control" name="app_description" placeholder="{$Think.lang.Global_PleaseEnter} {$Think.lang.AppCreate_AppDescription}"></textarea>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label class="col-sm-2 control-label">Chosen multiple</label>
                                            <div class="col-sm-10">
                                                <select ui-jq="chosen" multiple="" class="w-md" style="display: none;">
                                                    <option value="AK">Alaska</option>
                                                    <option value="HI">Hawaii</option>
                                                    <option value="CA">California</option>
                                                    <option value="NV">Nevada</option>
                                                    <option value="OR">Oregon</option>
                                                    <option value="WA">Washington</option>
                                                </select><div class="chosen-container chosen-container-multi" style="width: 240px;" title=""><ul class="chosen-choices"><li class="search-field"><input type="text" value="Select Some Options" class="default" autocomplete="off" style="width: 147px;"></li></ul><div class="chosen-drop"><ul class="chosen-results"><li class="active-result" data-option-array-index="0" style="">Alaska</li><li class="active-result" data-option-array-index="1" style="">Hawaii</li><li class="active-result" data-option-array-index="2" style="">California</li><li class="active-result" data-option-array-index="3" style="">Nevada</li><li class="active-result" data-option-array-index="4" style="">Oregon</li><li class="active-result" data-option-array-index="5" style="">Washington</li></ul></div></div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label>{$Think.lang.AppCreate_AppStatus}</label>
                                            <select class="form-control" name="app_status">
                                                <option value="INACTIVE">{$Think.lang.AppCreate_AppStatusINACTIVE}</option>
                                                <option value="ACTIVE">{$Think.lang.AppCreate_AppStatusACTIVE}</option>
                                            </select>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- /content -->

    <!-- footer -->
    <include file="Public:footer" />
    <!-- /footer -->
</div>
</block>
<block name="custom_css">
</block>
<block name="custom_js">
</block>