<extend name="Public:base" />

<block name="body_content">
    <!--  Content -->
    <div id="page-container" class="sidebar-l sidebar-o side-scroll header-navbar-fixed">
        <include file="Console:head" />


        <!-- Main Container -->
        <main id="main-container">
            <!-- Page Header -->
            <div class="content bg-gray-lighter">
                <div class="row items-push">
                    <div class="col-sm-7">
                        <h1 class="page-heading">
                            Account Settings
                        </h1>
                    </div>
                    <div class="col-sm-5 text-right hidden-xs">
                        <ol class="breadcrumb push-10-t">
                            <li>Account</li>
                            <li><a class="link-effect" href="">Settings</a></li>
                        </ol>
                    </div>
                </div>
            </div>
            <!-- END Page Header -->

            <!-- Page Content -->
            <div class="content">
                <div class="row">
                    <div class="col-md-12">
                        <!--Change Password-->
                        <div class="col-lg-4 col-md-5">
                            <!-- Material Register -->
                            <div class="block block-themed">
                                <div class="block-header bg-primary-dark">
                                    <h3 class="block-title">Change Password</h3>
                                </div>
                                <div class="block-content">
                                    <form class="form-horizontal push-10-t push-10" action="/account/change" method="post">
                                        <div class="form-group">
                                            <div class="col-xs-12">
                                                <div class="form-material">
                                                    <input class="form-control" type="text" id="att-target" name="current_passwd" placeholder="Your current password">
                                                    <label for="att-target">Current Password</label>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div class="col-xs-12">
                                                <div class="form-material">
                                                    <input class="form-control" type="text" id="att-port" minlength="6" name="new_passwd" placeholder="Must be more than 6 characters">
                                                    <label for="att-port">New Password</label>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div class="col-xs-12">
                                                <div class="form-material">
                                                    <input class="form-control" type="text" id="cg-pwd2" name="new_passwd2" placeholder="Must be the same">
                                                    <label for="cg-pwd2">New Password Again</label>
                                                </div>
                                            </div>
                                        </div>
                                        <input name="type" hidden style="display: none" value="changepw"/>
                                        <div class="form-group">
                                            <div class="col-xs-12">
                                                <button name="change" value="passwd" class="btn btn-sm btn-primary" type="submit"><i class="fa fa-check push-5-r"></i> Submit</button>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                            <!-- END Material Register -->
                        </div>

                        <!--Change Email-->
                        <div class="col-lg-4 col-md-5">
                            <!-- Material Register -->
                            <div class="block block-themed">
                                <div class="block-header bg-primary-dark">
                                    <h3 class="block-title">Change Email</h3>
                                </div>
                                <div class="block-content">
                                    <form class="form-horizontal push-10-t push-10" action="/account/change" method="post" onsubmit="return false;">
                                        <div class="form-group">
                                            <div class="col-xs-12">
                                                <div class="form-material">
                                                    <input class="form-control" type="text" id="em-new" name="current_passwd" placeholder="Your current password">
                                                    <label for="em-new">Current Password</label>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div class="col-xs-12">
                                                <div class="form-material">
                                                    <input class="form-control" type="text" id="acc-pw" name="new_email" placeholder="Your new email">
                                                    <label for="acc-pw">New Password</label>
                                                </div>
                                            </div>
                                        </div>
                                        <input name="type" hidden style="display: none" value="changeemail"/>
                                        <div class="form-group">
                                            <div class="col-xs-12">
                                                <button name="change" value="email" class="btn btn-sm btn-primary" type="submit"><i class="fa fa-check push-5-r"></i> Submit</button>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                            <!-- END Material Register -->
                        </div>
                    </div>
                </div>
            </div>
            <!-- END Page Content -->
        </main>
        <!-- END Main Container -->


        <include file="Console:foot" />
    </div>
    <!-- END Page Container -->
</block>
<!-- Page JS Plugins -->
<block name="custom_js">

</block>




