<extend name="Public:base" />
<block name="body_content">
<div class="app app-header-fixed container">
    <!-- header -->
    <include file="header" />
    <!-- /header -->

    <!-- aside -->
    <include file="sidebar" />
    <!-- /aside -->

    <!-- content -->
    <div id="content" class="app-content" role="main">
        <div class="app-content-body ">
            
        </div>
    </div>
    <!-- /content -->

    <!-- footer -->
    <include file="footer" />
    <!-- /footer -->
</div>
</block>
<block name="custom_css">
</block>
<block name="custom_js">
</block>