
<!-- Sidebar -->
<nav id="sidebar">
    <!-- Sidebar Scroll Container -->
    <div id="sidebar-scroll">
        <!-- Sidebar Content -->
        <!-- Adding .sidebar-mini-hide to an element will hide it when the sidebar is in mini mode -->
        <div class="sidebar-content">
            <!-- Side Header -->
            <div class="side-header side-content bg-white-op">
                <!-- Layout API, functionality initialized in App() -> uiLayoutApi() -->
                <button class="btn btn-link text-gray pull-right hidden-md hidden-lg" type="button" data-toggle="layout" data-action="sidebar_close">
                    <i class="fa fa-times"></i>
                </button>
                <a class="h5 text-white" href="/view">
                    <i class="fa fa-circle-o-notch text-primary"></i> <span class="h4 font-w600 sidebar-mini-hide">TC</span>
                </a>
            </div>
            <!-- END Side Header -->

            <!-- Side Content -->
            <div class="side-content">
                <ul class="nav-main">
                    <!--<li>
                        <a href="/view"><i class="si si-speedometer"></i><span class="sidebar-mini-hide">Dashboard</span></a>
                    </li>-->
                    <li class="nav-main-heading"><span class="sidebar-mini-hide">ACTIONS</span></li>
                    <li>
                        <a <if condition="$meta_title eq 'Attacks Overview'"> class="active"</if> href="/view"><i class="si si-energy"></i>Stresser Hub</a>
                    </li>
                    <li>
                        <a <if condition="$meta_title eq 'Network Status'">class="active" </if> href="/network_status"><i class="si si-speedometer"></i>Network Status</a>
                    </li>
                    <li>
                        <a <if condition="$meta_title eq 'Order'">class="active" </if> href="/order"><i class="si si-basket"></i>Order</a>
                    </li>
                    <li <if condition="$meta_title eq 'My Profile' or $meta_title eq 'Account Settings'">class="open" </if>>
                        <a <if condition="$meta_title eq 'My Profile' or $meta_title eq 'Account Settings'">class="active" </if> class="nav-submenu" data-toggle="nav-submenu" href="#"><i class="si si-user"></i><span class="sidebar-mini-hide">Account</span></a>
                        <ul>
                            <li>
                                <a <if condition="$meta_title eq 'My Profile'">class="active" </if> href="/account/profile">My Profile</a>
                            </li>
                            <li>
                                <a <if condition="$meta_title eq 'Account Settings'">class="active" </if> href="/account/settings">Settings</a>
                            </li>
                        </ul>
                    </li>
                    <li><a href="/logout"><i class="si si-arrow-right"></i>Logout</a></li>
                    <li class="nav-main-heading"><span class="sidebar-mini-hide">Terms</span></li>
                    <li><a <if condition="$meta_title eq 'Terms of service'"> class="active"</if> href="/terms?file=tos"><i class="si si-book-open"></i>Terms of Service</a></li>
                    <li><a <if condition="$meta_title eq 'Acceptable Using Policy'"> class="active"</if> href="/terms?file=aup"><i class="si si-book-open"></i>Acceptable Using Policy</a></li>
                <if condition="$isadmin eq 1">
                    <li class="nav-main-heading"><span class="sidebar-mini-hide">Admin</span></li>
                    <li>
                        <a <if condition="$meta_title eq 'Servers Manage'"> class="active"</if> href="/admin/servers"><i class="si si-screen-desktop"></i>Servers Manage</a>
                    </li>
                    <li>
                        <a <if condition="$meta_title eq 'Methods Manage'"> class="active"</if> href="/admin/methods"><i class="si si-user"></i>Methods Manage</a>
                    </li>
                    <li>
                        <a <if condition="$meta_title eq 'Packages Manage'"> class="active"</if> href="/admin/packages"><i class="si si-social-dropbox"></i>Packages Manage</a>
                    </li>
                    <li>
                        <a <if condition="$meta_title eq 'Users Manage'"> class="active"</if> href="/admin/users"><i class="si si-user"></i>Users Manage</a>
                    </li>

                </if>
                </ul>
            </div>
            <!-- END Side Content -->
        </div>
        <!-- Sidebar Content -->
    </div>
    <!-- END Sidebar Scroll Container -->
</nav>
<!-- END Sidebar -->

<!-- Header -->
<header id="header-navbar" class="content-mini content-mini-full">
    <!-- Header Navigation Right -->
    <ul class="nav-header pull-right">
        <li>
            <div class="btn-group">
                <button class="btn btn-default btn-image dropdown-toggle" data-toggle="dropdown" type="button">
                    <img src="__STATIC__/img/avatars/avatar10.jpg" alt="Avatar">
                    <span class="caret"></span>
                </button>
                <ul class="dropdown-menu dropdown-menu-right">
                    <li class="dropdown-header">Profile</li>
                    <li>
                            <a href="/account/profile"> Profile</a>
                        </a>
                    </li>
                    <li><a>UID:{$uid}</a></li>
                    <li>
                        <a tabindex="-1" href="/account/settings">
                            <i class="si si-settings pull-right"></i>Settings
                        </a>
                    </li>
                    <li class="divider"></li>
                    <li class="dropdown-header">Actions</li>
                    <li>
                        <a tabindex="-1" href="/logout">
                            <i class="si si-logout pull-right"></i>Log out
                        </a>
                    </li>
                </ul>
            </div>
        </li>
    </ul>
    <!-- END Header Navigation Right -->

    <!-- Header Navigation Left -->
    <ul class="nav-header pull-left">
        <li class="hidden-md hidden-lg">
            <!-- Layout API, functionality initialized in App() -> uiLayoutApi() -->
            <button class="btn btn-default" data-toggle="layout" data-action="sidebar_toggle" type="button">
                <i class="fa fa-navicon"></i>
            </button>
        </li>
        <li class="hidden-xs hidden-sm">
            <!-- Layout API, functionality initialized in App() -> uiLayoutApi() -->
            <button class="btn btn-default" data-toggle="layout" data-action="sidebar_mini_toggle" type="button">
                <i class="fa fa-ellipsis-v"></i>
            </button>
        </li>
    </ul>
    <!-- END Header Navigation Left -->
</header>
<!-- END Header -->
        