<extend name="Public:base" />
<block name="body_content">
<div class="app app-header-fixed ">

    <div class="container w-xxl w-auto-xs">
        <a href class="navbar-brand block m-t">Urox PayInOne</a>
        <div class="m-b-lg">
            <div class="wrapper text-center">
                <strong>Sign in to manage your apps</strong>
            </div>
            <form name="form" class="form-validation" onsubmit="return false;">
                <div class="text-danger wrapper text-center">

                </div>
                <div class="list-group list-group-sm">
                    <div class="list-group-item">
                        <input type="text" placeholder="Username" class="form-control no-border" name="uname" required>
                    </div>
                    <div class="list-group-item">
                        <input type="password" placeholder="Password" class="form-control no-border" name="passwd" required>
                    </div>
                </div>
                <button type="submit" class="btn btn-lg btn-primary btn-block" id="loginSubmit">Log in</button>
                <div class="line line-dashed"></div>
            </form>
        </div>
        <div class="text-center">
            <p>
                <small class="text-muted">Urox<br>&copy; 2015-2017</small>
            </p>
        </div>
    </div>
</div>
    </block>
<block name="custom_js">
    <script>
        $("#loginSubmit").submit(function () {
            $.ajax({
                type: "POST",
                url: "/Home/Service/",
                dataType: "json",
                data: {
                    "name":name.val(),
                    "email":email.val(),
                    "pass1":pass1.val(),
                    "pass2":pass2.val(),
                    "code":code.val(),
                    "sch_id":sch_id.val(),
                    "stu_id":stu_id.val(),
                    "sch_name":sch_name.val(),
                    "stu_name":stu_name.val(),
                    "stu_class":stu_class.val()
                },
                timeout: 4000,
                beforeSend: function(){
                    $('<p />').addClass("loading").html("<i class='fa fa-circle-o-notch fa-spin'></i>").css("color","#999").appendTo('#msg');
                },
                success: function(json){
                    if(json.success==1){
                        $(".loading").remove();
                        $('<p />').html(json.msg).appendTo('#msg').fadeOut(2000);
                        setTimeout(window.location.href="/auth/login",2500);
                        return false;
                    }else if(json.error==1){
                        $(".loading").remove();
                        $('<p />').html(json.msg).appendTo('#msg').fadeOut(2000);
                        name.focus();
                        return false;
                    }else if(json.error==2){
                        $(".loading").remove();
                        $('<p />').html(json.msg).appendTo('#msg').fadeOut(2000);
                        email.focus();
                        return false;
                    }else if(json.error==3){
                        $(".loading").remove();
                        $('<p />').html(json.msg).appendTo('#msg').fadeOut(2000);
                        code.focus();
                        return false;
                    }
                },
                error: function () {
                    swal({
                        title: "Error",
                        text: "Login failed, please contact administrator.",
                        type: "error",
                        timer: 2000
                    });
                    return false;
                }
            });
        })
  </script>
</block>